<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhifeng.cattle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />

    <application
        android:name=".utils.config.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/activity_theme">
        <activity android:name=".ui.home.JXChatUIActivity"></activity>
        <activity android:name=".utils.jx.activity.JXWebViewActivity" />
        <activity android:name=".utils.jx.activity.JXLeaveMsgActivity" />
        <activity android:name=".utils.jx.activity.JXPhotoActivity" />
        <activity android:name=".utils.jx.activity.JXRecorderVideoActivity" />
        <activity android:name=".ui.my.ModifyUserNameActivity" />
        <activity android:name=".ui.my.BindBankCardActivity" />
        <activity android:name=".ui.home.AdvertisingActivity" />
        <activity android:name=".ui.home.ServiceActivity" />
        <activity android:name=".ui.login.InviteCodeActivity" />
        <activity android:name=".ui.my.RefundActivity" />
        <activity android:name=".ui.my.CheckDetailActivity" />
        <activity android:name=".ui.home.SearchGoodsActivity" />
        <activity android:name=".ui.home.ListPageActivity" />
        <activity android:name=".ui.my.ChangeAccountActivity" />
        <activity android:name=".ui.home.TemporaryActivity" />
        <activity android:name=".ui.home.CertificationActivity" />
        <activity android:name=".ui.my.RechargeActivity" />
        <activity android:name=".ui.my.OrderCommentActivity" />
        <activity android:name=".ui.home.GoodsCommentsActivity" />
        <activity android:name=".ui.my.RankingListActivity" />
        <activity android:name=".ui.my.RechargeDetailActivity" />
        <activity android:name=".ui.my.TeamOrderActivity" />
        <activity android:name=".ui.my.TeamListActivity" />
        <activity android:name=".ui.my.DetailRecordActivity" />
        <activity android:name=".ui.my.WithdrawalDetailActivity" />
        <activity
            android:name=".ui.home.GoodsDetailActivity"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.my.EditAliPayActivity" />
        <activity android:name=".ui.my.WithdrawalActivity" />
        <activity android:name=".ui.my.ForgetPwdActivity" />
        <activity android:name=".ui.my.ModifyPayPwdActivity" />
        <activity android:name=".ui.my.PayPwdActivity" />
        <activity android:name=".ui.my.ModifyMobileCodeActivity" />
        <activity android:name=".ui.my.ModifyMobileActivity" />
        <activity android:name=".ui.my.SecurityActivity" />
        <activity android:name=".ui.my.SupplierActivity" />
        <activity android:name=".ui.my.AddAddressActivity" />
        <activity android:name=".ui.my.AddressListActivity" />
        <activity android:name=".ui.my.InvitationActivity" />
        <activity android:name=".ui.my.MyTeamActivity" />
        <activity android:name=".ui.my.BonusMonActivity" />
        <activity android:name=".ui.my.BonusDayActivity" />
        <activity android:name=".ui.my.SalesReturnActivity" />
        <activity android:name=".ui.my.OrderDetailActivity" />
        <activity android:name=".ui.my.OrderActivity" />
        <activity android:name=".ui.my.CollectionActivity" />
        <activity android:name=".ui.my.BalanceActivity" />
        <activity
            android:name=".ui.shoppingcart.ShoppingCartActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.login.AgreementActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.StartPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" /> <!-- 必选 -->
        <meta-data
            android:name="PGYER_APPID"
            android:value="8e551c457f819168d1da919ab1435c1c" />

        <service
            android:name="com.jxccp.im.chat.JXCoreService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.jxccp.im.chat.JXCoreService" />
            </intent-filter>
        </service>
        <service android:name=".service.JXCustomerService" />

        <provider
            android:name=".utils.jx.JXFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <!--        <activity-->
        <!--            android:name="com.alipay.sdk.app.H5PayActivity"-->
        <!--            android:configChanges="orientation|keyboardHidden|navigation|screenSize"-->
        <!--            android:exported="false"-->
        <!--            android:screenOrientation="behind"-->
        <!--            android:windowSoftInputMode="adjustResize|stateHidden" >-->
        <!--        </activity>-->
        <!--        <activity-->
        <!--            android:name="com.alipay.sdk.app.H5AuthActivity"-->
        <!--            android:configChanges="orientation|keyboardHidden|navigation"-->
        <!--            android:exported="false"-->
        <!--            android:screenOrientation="behind"-->
        <!--            android:windowSoftInputMode="adjustResize|stateHidden" >-->
        <!--        </activity>-->

        <!-- 微信配置 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />

        <receiver
            android:name=".utils.pay.wechatpay.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />

    </application>

</manifest>